 <button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#myModal">Info</button>
        <div id="myModal" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Contract 1</h4>
              </div>
              <div class="modal-body">
                <table class="table">

                 <thead>
                    <tr> 
                      <th .col-md-1>#</th> 
                      <th .col-md-5>Ingridient</th> 
                      <th .col-md-3>Wieght</th>
                      <th .col-md-3 class="cost">Cost</th> 
                    </tr> 
                  </thead>

                   <tbody> 
                       <tr> 
                            <th scope="row">1</th>
                            <td class="name">Cheese</td> 
                            <td class="weight"> <span class="plus">+57 </span>gr</td> 
                            <td align="center">
                            <span class="plus">+27 </span>pizz
                            </td> 
                        </tr> 
                        
                        <tr> 
                            <th scope="row">2</th> 
                            <td>Bacon</td> 
                            <td><span class="plus">+35 </span>gr</td> 
                            <td align="center" ="right"><span class="plus">+36 </span>pizz</td> 
                        </tr> 

                        <tr> 
                            <th scope="row">2</th> 
                            <td>Dough</td> 
                            <td><span class="plus">+140 </span>gr</td> 
                            <td align="center"><span class="plus">+25 </span>pizz</td> 
                        </tr> 
                    </tbody>

                 </table>
              </div>
              
              <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div>

