<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Contract1</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Contract2</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Summary</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><table class="table">

                 <thead>
                    <tr> 
                      <th .col-md-1>#</th> 
                      <th .col-md-5>Ingridient</th> 
                      <th .col-md-3>Wieght</th>
                      <th .col-md-3 class="cost">Cost</th> 
                    </tr> 
                  </thead>

                   <tbody> 
                       <tr> 
                            <th scope="row">1</th>
                            <td class="name">Cheese</td> 
                            <td class="weight"> <span class="plus">+57 </span>gr</td> 
                            <td align="center">
                            <span class="plus">+27 </span>pizz
                            </td> 
                        </tr> 
                        
                        <tr> 
                            <th scope="row">2</th> 
                            <td>Bacon</td> 
                            <td><span class="plus">+35 </span>gr</td> 
                            <td align="center" ="right"><span class="plus">+36 </span>pizz</td> 
                        </tr> 

                        <tr> 
                            <th scope="row">2</th> 
                            <td>Dough</td> 
                            <td><span class="plus">+140 </span>gr</td> 
                            <td align="center"><span class="plus">+25 </span>pizz</td> 
                        </tr> 
                    </tbody>

                 </table></div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <table class="table">

        <thead>
          <tr> 
            <th .col-md-1>#</th> 
            <th .col-md-8>Direction</th> 
            <th .col-md-3 class="cost">Pizzeriums</th> 
          </tr> 
        </thead>

         <tbody> 
             <tr> 
                  <th scope="row">1</th>
                  <td class="name">Rental</td> 
                  
                  <td align="center">
                  <span class="plus">+2 </span>pizz
                  </td> 
              </tr> 
              
              <tr> 
                  <th scope="row">2</th> 
                  <td>Tax</td> 
                  
                  <td align="center" ="right"><span class="plus">+3 </span>pizz</td> 
              </tr> 

              <tr> 
                  <th scope="row">2</th> 
                  <td>Salary</td> 
                  
                  <td align="center"><span class="plus">+5 </span>pizz</td> 
              </tr> 
          </tbody>

        </table>
                 </div>
    <div role="tabpanel" class="tab-pane" id="messages"><table class="table">

                 <thead>
                    <tr> 
                      <th .col-md-1>#</th> 
                      <th .col-md-5>Ingridient</th> 
                      <th .col-md-3>Wieght</th>
                      <th .col-md-3 class="cost">Cost</th> 
                    </tr> 
                  </thead>

                   <tbody> 
                       <tr> 
                            <th scope="row">1</th>
                            <td class="name">Cheese</td> 
                            <td class="weight"> <span class="plus">+57 </span>gr</td> 
                            <td align="center">
                            <span class="plus">+27 </span>pizz
                            </td> 
                        </tr> 
                        
                        <tr> 
                            <th scope="row">2</th> 
                            <td>Bacon</td> 
                            <td><span class="plus">+35 </span>gr</td> 
                            <td align="center" ="right"><span class="plus">+36 </span>pizz</td> 
                        </tr> 

                        <tr> 
                            <th scope="row">2</th> 
                            <td>Dough</td> 
                            <td><span class="plus">+140 </span>gr</td> 
                            <td align="center"><span class="plus">+25 </span>pizz</td> 
                        </tr> 
                    </tbody>

                 </table></div>
    
  </div>

</div>